<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container">
    <h1>Login</h1>
    <div class="form-style-2">
        <a class="btn btn-primary" href="/registration">Add new user</a>
        <br>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="inputLogin">Login</label>
                <input class="form-control" id="inputLogin" type="text" name="login"/>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input class="form-control" id="inputPassword" type="password" name="password"/>
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Sign In"/>
            </div>
        </form>
        <br>
        <div th:if="${error}">
            <div class="alert alert-danger" role="alert">Invalid login or password.</div>
        </div>
    </div>
</body>
</html>