<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body class="container">

    <h1>Registration</h1>

    <div class="form-style-2">
        <a class="btn btn-primary" href="/login">Login</a>
        <br>
        <form th:action="@{/registration}" method="post">
            <div class="form-group">
                <label for="first-name">First name</label>
                <input class="input-field form-control"  id="first-name" name="firstName">
            </div>
            <div class="form-group">
                <label for="last-name">Last name</label>
                <input class="input-field form-control"  id="last-name" name="lastName">
            </div>
            <div class="form-group">
                <label>Country</label>
                <select class="country custom-select my-1 mr-sm-2" id="country" name="city">
                    <option th:each="countryOpt : ${T(com.gmail.dev.enums.City).values()}"
                            th:value="${countryOpt}" th:text="${countryOpt}"></option>
                </select>
            </div>
            <div class="usa_states form-group">
                <label>States</label>
                <select id="usa_states" name="stateUSA" class="custom-select my-1 mr-sm-2">
                    <option th:each="state : ${statesUSA}"
                            th:value="${state.id}"
                            th:utext="${state.title}"/>
                </select>
            </div>
            <div class="canada_provinces_cities form-group">
                <label>Provinces cities</label>
                <select id="canada_provinces_cities" name="cityCanada" class="custom-select my-1 mr-sm-2">
                    <option th:each="city : ${citiesCanada}"
                            th:value="${city.id}"
                            th:utext="${city.provinceCanada.title} + ' ' + ${city.title}"/>
                </select>
            </div>
            <div class="form-group">
                <label for="login">Login</label>
                <input class="input-field form-control" type="text" id="login" name="login">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="input-field form-control" type="password" id="password" name="password">
            </div>
            <input class="bt-sign-up btn btn-primary" type="submit" value="SignUp">
        </form>

        <script type="text/javascript" th:src="@{/js/main.js}"></script>
    </div>
</body>

</html>